@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ===============
    Global Styles
=============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    margin: 0;
    font-family: "Merriweather", sans-serif;
    background-color: #fff;
    width: 1440px;
}

/* fonts */


h2 {
    font-size: 36px;
    font-weight: 700;
    color: #000;
}



h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0,50); 
}

.peach {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #F78065;
}

/* ===============
   HERO
=============== */

.hero.img {
    height: 41rem; 
    margin-top: 0;
}

/* ===============
   SERVICES
=============== */

.service img{
    height: 11rem;
    width:  15rem;
}

.service {
    width: 33%;
}

.services {
    display: flex;
}

/* ===============
   FACILITIES
=============== */

/* ===============
   SITES
=============== */

/* ===============
   ADVANTAGES
=============== */

/* ===============
   FOOTER
=============== */